.learningkit
{
    color:red;
}

.learningkitcard{
    width: 530px;
    height: 40vh;
}
.learningkitmargin{
    margin-left: 4cm;
}
.Shopbybrandmargin{
    margin-left: 4cm;
}
.footer{
    margin-top: 0.2cm;
}