.leftarr{
    background-color: rgba(76, 71, 71, 0.5);
    padding-right: 3px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-radius: 100%;
}
.rightarr{
    background-color: rgba(76, 71, 71, 0.5);
    padding-right: 7px;
    padding-left: 6px;
    padding-bottom: 5px;
    border-radius: 100%;
  
}

.dotcl{
    color: rgba(0, 0, 0, );
    font-size: 30px;
    position: relative;
    top: -50px;
}
.dotcl:hover{
    color: rgb(108, 116, 116);
    font-size: 31px;
    
}